body{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.main_container{
    width: 50%;
    background-color: aliceblue;
    padding: 20px;

    color: black;
}


.main_header{
    text-align: center;
    background-color: aliceblue;
}