<html>
  <head>
    <title>Backend "Мой голос"</title>

    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}" />

  </head>
  <body>
    <div class="main_container">
        <h1 class="main_header">Мой голос / Server part</h1>
        <p>
            Данная страница создана с целью тестировния работы серверной части приложения “Мой голос”. 
            Более подробно описано в содержании.
        </p>
        <h2>Содержание:</h2>
        <ul>
            <li><a href="https://github.com/vadim-voloshchuk/hack_rosatom/blob/main/README.md">Документация по функционалу(GitHub)</a></li>
            <li><a href="/testing_clustering">Тестирование работы кластеризации</a></li>
            <li><a href="http://213.159.214.106:3000/d/_se4ve4/server-dashboard?refresh=3s&orgId=1">Дашборд работы запросов</a></li>
        </ul>
    </div>  
  </body>
</html>